/* static fallback (si NO hay variable-fonts) */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

html {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* overwrite cuando sí hay variable fonts */
@supports (font-variation-settings: "wght" 500) {
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", "Inter", sans-serif;
}

body {
  color: var(--secondary-800);
  background: var(--light);
}

.align-center {
  text-align: center;
}

.full-width {
  text-align: center;
  justify-content: center;
  width: 100%;
}

.black-bg {
  background-color: var(--secondary-600);
}

.black-light {
  background-color: var(--primary-0);
  color: var(--primary-0) !important;
}


.black-primary {
  background-color: var(--primary-500);
  color: var(--primary-0) !important;
}

a {
  text-decoration: none;
}